<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pairkeysTableFragment">
    <div class="container-fluid mt-1">
        <div class="col-11 mx-auto">
        <table class="table table-hover">
            <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>DNS-имя</th>
                <th>Альтернативное имя</th>
                <th>Ответственный администратор</th>
                <th>Дата создания заявки</th>
                <th>Тип сертификата</th>
                <th>Комментарий</th>
                <th>Имя каталога на сервере</th>
                <th>Файлы</th>
                <th>Выпустить сертификат</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pairkeys : ${pairkeys}">
                <td th:text="${pairkeys.getId()}"/>
                <td th:text="${pairkeys.getDnsName()}"/>
                <td th:text="${pairkeys.getSubjectAlternativeName()}"/>
                <td th:text="${pairkeys.getAdminName()}"/>
                <td th:text="${pairkeys.getCreate_at()}"/>
                <td th:text="${pairkeys.getTypeCert()}"/>
                <td th:text="${pairkeys.getComment()}"/>
                <td th:text="${pairkeys.getPairkeysFolderName()}"/>
                <td>
                    <form method="post" th:action="@{'/getFile/'}">
                        <input type="hidden" name="id" th:value="${pairkeys.getId}">
                        <input type="hidden" name="filename" th:value="${#strings.toLowerCase(pairkeys.getTypeCert)} + '.csr'">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-link" th:text="${#strings.toLowerCase(pairkeys.getTypeCert)} + '.csr'" type="submit"/>
                    </form>
                    <form method="post" th:action="@{'/getFile/'}">
                        <input type="hidden" name="id" th:value="${pairkeys.getId}">
                        <input type="hidden" name="filename" th:value="${#strings.toLowerCase(pairkeys.getTypeCert)} + '.key'">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-link" th:text="${#strings.toLowerCase(pairkeys.getTypeCert)} + '.key'" type="submit"/>
                    </form>

                </td>
                <td>
                    <form method="post" th:action="@{'/pairkeys/createCert/' + ${pairkeys.id}}">
                        <button class="btn btn-primary" th:text="'Выпустить сертификат'" type="submit"/>
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{'/pairkeys/delete/' + ${pairkeys.id}}">
                        <button class="btn btn-secondary" th:text="Удалить" type="submit"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</html>